

body{
    background-color: gray;
}

div{
    background-color: blue;
    border-color: whitesmoke;
    border-width: thick;
    border-style: dotted;
}

span{
    background-color: red;
}

p{
    color: green;
}